<% page_title @court.name %>
<% page_class "courts-show" %>

<div class="block-1 headings-block<%= " service-priority" if @court.service_priority_homepage? %>">
  <div class="inner-block">
    <%= render 'organisations/header', organisation: @court, show_featured_links: true %>
  </div>
</div>

<section class="block about-block">
  <div class="inner-block floated-children">
    <div class="about-us">
      <h2 id="about-us" class="label"><%= t('organisation.headings.who_we_are') %></h2>
      <%= govspeak_to_html @court.about_us.body %>
      <h2 class="label"><%= t('organisation.headings.what_we_do') %></h2>
      <%= govspeak_to_html @court.about_our_services.body %>
    </div>
    <% if @court.social_media_accounts.any? %>
      <aside class="social-media-links">
        <div class="content">
          <h1><%= t('organisation.headings.follow_us') %></h1>
            <%= render 'shared/social_media_accounts', socialable: @court, followus: true %>
        </div>
      </aside>
    <% end %>
  </div>
</section>

<%= render 'documents' if (@publications + @announcements).any? %>

<% if @judges.any? %>
  <section class="block people" id="people">
    <div class="inner-block floated-children">
      <h1 class="keyline-header"><%= t('organisation.headings.our_people' ) %></h1>
        <ul>
        <% @judges.each_with_index do |role, i| %>
          <%= render partial: "people/person",
                     locals: {
                       person: role.current_person,
                       roles: @judge_roles.roles_for(role.current_person),
                       hlevel: "h3",
                       extra_class: (i % 4 == 0) ? 'clear-person' : ''
                     } %>
        <% end %>
        </ul>
    </div>
  </section>
<% end %>

<section class="block contact-us" id="contact-us">
  <div class="inner-block floated-children">
    <% if @court.home_page_contacts.any? %>
      <h1 class="keyline-header"><%= t('organisation.headings.contact_us') %></h1>
      <%= render partial: 'contacts/contact', collection: @court.home_page_contacts %>
    <% end %>
  </div>
</section>
